.App {
  text-align: left;
  display: block;
  background-color: rgba(0,0,0,0.05);
  height:max-content;
  padding-bottom: 10px;
}

.top-bar{
  background-color: darkblue;
  height: 2.5rem;
  border: none;
  margin: 0;
  caret-color: transparent;
}

.page-container {
  margin-top: 20px;
  margin-left: 15.5%;
  margin-bottom: 15.5px;
  margin-right: 1%;
  height: 100%;
  border: 1px solid rgba(0,0,0,0.10); 
  padding: 0 2.5% 2.5% 2.5%;
  background-color: white;
  border-radius: 5px;
}