.App {
  text-align: left;
  display: block;
  background-color:rgba(0,0,0,0.10);
}

.top-bar{
  background-color: darkblue;
  height: 2.5rem;
  border: none;
  margin: 0;
  caret-color: transparent;
}

.container {
  margin-top: 20px;
  margin-left: 15.5%;
  height: 100%;
  border: 1px solid rgba(0,0,0,0.10); /* Adjust the shadow as needed */
  padding: 20px; /* Add padding for spacing inside the container */
  background-color: white;
}
