.App {
  text-align: left;
  display: block;
  height:max-content;
  padding-bottom: 10px;
}

body {
  background-color: rgba(0,0,0,0.05);
}

.top-bar{
  background-color: darkblue;
  height: 7%;
  border: none;
  margin: 0;
  caret-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.page-container {
  margin-top: 5%;
  margin-left: 15.5%;
  margin-bottom: 1.2%;
  margin-right: 1.5%;
  height: 100%;
  border: 1px solid rgba(0,0,0,0.10); 
  padding: 0 2.5% 2.5% 2.5%;
  background-color: white;
  border-radius: 5px;
}